@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex">
    <div class="col-8">
        Image region
    </div>
    <div class="col-4">
        <div class="d-flex">
            <p class="text-filter">Filter by</p>
            <select class="form-select filter" aria-label="Default select example">
                <option selected>All</option>
                <option value="1">Pants and Leggings</option>
                <option value="2">Tops and T-Shirts</option>
                <option value="3">Shorts</option>
                <option value="4">Shoes</option>
                <option value="5">Jackets and Gilets</option>
                <option value="6">Hoodies and Sweatshirts</option>
            </select>
        </div>
    </div>
</div>
